<div class="nav">
    <span class="nav-cover"></span>
    <a class="nav-toggle">
        <div class="nav-toggle-icons">
            <div class="nav-toggle-icon"></div>
        </div>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>
