@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot");
    src:url("../fonts/casper-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/casper-icons.woff") format("woff"),
    url("../fonts/casper-icons.ttf") format("truetype"),
    url("../fonts/casper-icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}