.site-footer {
    position: relative;
    margin: 0;
    padding: 8rem 0;
    text-align: center;
    font-family: $font-family-navigation;
    font-size: 2rem;
    line-height: 1.75em;
    background: $palette-secondary;
    color: $palette-secondary-alt;

    .social {
        margin: 0 0 4rem 0;

        a {
            color: $palette-secondary-alt;
            font-size: 6rem;
            text-decoration: none;
            padding: 0 2rem;
            @include transition(color $animate-duration-fast ease-in 0s);

            &:hover {
                color: $palette-light;
            }
        }
    }

    .copyright {
        a {
            color: $palette-secondary-alt;
            text-decoration: none;
            @include transition(color $animate-duration-fast ease-in 0s);

            &:hover {
                color: $palette-light;
            }
        }
    }
}
