@import "variables";

.site-footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 8rem 0;
    text-align: center;
    font-family: $font-family-header;
    font-size: 1.6rem;
    line-height: 1.75em;
    background: $palette-secondary;
    color: $palette-light;
    border-top: $palette-secondary-alt solid 5px;

    .social {
        margin: 0 0 4rem 0;

        a {
            color: $palette-secondary-alt;
            font-size: 6rem;
            text-decoration: none;
            padding: 0 2rem;
            @include transition(color $animate-duration-fast ease-in 0s);

            &:hover {
                color: $palette-light;
            }
        }
    }

    .copyright {
        a {
            color: $palette-light;
            text-decoration: none;
        }
    }
}
