@import "variables";

/* Big cover image on the home page */
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: $cover-height;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
    border-bottom: $palette-primary-alt solid 5px;
}

.no-cover.main-header {
    height: $main-nav-height;
    background: transparent;
}