/* Big cover image on the home page */
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: $cover-height;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;

    &.no-cover {
        height: $main-nav-height;
        background: transparent;
    }

    &::before {
        content: 'TrishAdvisor';
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: 20vw;
        line-height: 20vw;
        padding-top: $main-nav-height;
        opacity: 0.4;
        font-family: $font-family-handwriting;
        color: $palette-light;

        text-shadow: $shadow;
    }
}

@include media(map_get($breakpoints, large)) {
    .main-header {
        &::before {
            padding-top: 0;
        }
    }
}

@include media(map_get($breakpoints, medium)) {
    .main-header {
        height: $cover-height-medium;
    }
}

@include media(map_get($breakpoints, small)) {
    .main-header {
        height: $cover-height-small;
    }
}