@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?sk9dcn');
    src:url('../fonts/icomoon.eot?#iefixsk9dcn') format('embedded-opentype'),
    url('../fonts/icomoon.woff?sk9dcn') format('woff'),
    url('../fonts/icomoon.ttf?sk9dcn') format('truetype'),
    url('../fonts/icomoon.svg?sk9dcn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
    content: "\ea38";
}

.icon-stats:before {
    content: "\eb88";
}

.icon-menu:before {
    content: "\ec6e";
}

.icon-link:before {
    content: "\ec96";
}

.icon-arrow-up:before {
    content: "\edb4";
}

.icon-arrow-right:before {
    content: "\edb8";
}

.icon-arrow-down:before {
    content: "\edbc";
}

.icon-arrow-left:before {
    content: "\edc0";
}

.icon-facebook:before {
    content: "\eee9";
}

.icon-instagram:before {
    content: "\eeec";
}

.icon-twitter:before {
    content: "\eeed";
}

.icon-feed:before {
    content: "\eef0";
}