.main-nav {

    @include position(fixed, 0 0 null 0);

    z-index: 10;
    height: $main-nav-height;

    .nav {

        height: $main-nav-height;
        background: rgba($palette-primary, 0);
        @include transition(box-shadow $animate-duration-fast ease-in 0s, background-color $animate-duration-fast ease-in 0s, height $animate-duration-fast ease-in 0s);

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul {
            clear: both;
            float: right;
            padding-right: 15px;

            li {
                float: left;

                a {
                    display: block;
                    text-decoration: none;
                    font-family: $font-family-navigation;
                    text-transform: uppercase;
                    margin-top: $main-nav-margin;
                    margin-bottom: $main-nav-margin;
                    line-height: $main-nav-height - 2*$main-nav-margin;
                    font-size: $font-size-navigation;
                    padding: 0 3rem;
                    margin-left: 3rem;
                    text-shadow: $shadow;

                    @include transition(all $animate-duration-fast ease-in);
                }

                a:link,
                a:visited {
                    color: $palette-light;
                }

                &.nav-current a,
                a:hover,
                a:active,
                a:focus {
                    background: $palette-primary;
                    color: $palette-primary-alt;
                    text-shadow: none;
                    box-shadow: $shadow;
                }
            }
        }

        .nav-toggle {
            display: none;
        }
    }

    &.scrolled {

        .nav {
            height: $main-nav-height-stuck;
            background: rgba($palette-primary, 1);
            box-shadow: $shadow;

            ul {
                li {
                    a {
                        text-shadow: none;
                        line-height: $main-nav-height-stuck;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    a:link,
                    a:visited {
                        color: $palette-primary-alt;
                    }

                    &.nav-current a,
                    a:hover,
                    a:active,
                    a:focus {
                        color: $palette-light;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@include media(map_get($breakpoints, large)) {
    .main-nav {

        .nav {

            ul {
                @include position(fixed, 0 null 0 100vw);
                width: 240px;
                @include transform(translate3d(0, 0, 0));

                float: none;
                background: $palette-primary;
                padding: $main-nav-height-stuck 0;
                box-shadow: none;

                @include transition(box-shadow $animate-duration-fast ease-in, transform $animate-duration-fast ease-in);

                li {
                    float: none;

                    a {
                        text-shadow: none;
                        margin: 0;
                    }

                    a:link,
                    a:visited {
                        color: $palette-primary-alt;
                    }

                    &.nav-current a,
                    a:hover,
                    a:active,
                    a:focus {
                        color: $palette-light;
                        background: none;
                        box-shadow: none;
                    }
                }
            }

            .nav-toggle {
                $nav-toggle-padding: ( $main-nav-height - map_get($main-nav-toggle-size, height) ) / 2;

                @include transform(translateZ(0));
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                padding: $nav-toggle-padding 3rem;
                width: map_get($main-nav-toggle-size, width);
                height: map_get($main-nav-toggle-size, height);
                margin-left: auto;
                cursor: pointer;
                user-select: none;
                z-index: 1;

                box-sizing: content-box;

                @include transition(padding $animate-duration-fast ease-in);

                .nav-toggle-icons {
                    padding-top: map_get($main-nav-toggle-size, height)/2 - map_get($main-nav-toggle-size, thickness)/2;
                    .nav-toggle-icon {

                        &, &:before, &:after {
                            display: block;
                            content: "";
                            position: absolute;
                            transition: $animate-duration-fast;
                            background: $palette-light;
                            width: map_get($main-nav-toggle-size, width);
                            height: map_get($main-nav-toggle-size, thickness);
                            box-shadow: $shadow;
                        }

                        $stick-position: floor(map_get($main-nav-toggle-size, height)/2 - map_get($main-nav-toggle-size, thickness));
                        &:before {
                            top: $stick-position;
                        }
                        &:after {
                            top: -$stick-position;
                        }
                    }
                }
            }
        }

        $nav-toggle-padding-stuck: ( $main-nav-height-stuck - map_get($main-nav-toggle-size, height) ) / 2;

        &.scrolled {

            .nav {

                .nav-toggle {
                    padding-top: $nav-toggle-padding-stuck;
                    padding-bottom: $nav-toggle-padding-stuck;

                    .nav-toggle-icons {
                        .nav-toggle-icon {

                            &, &:before, &:after {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

        .nav-opened & {
            .nav {
                background: none;
                box-shadow: none;

                .nav-cover {
                    display: block;
                    @include position(fixed, 0 0 0 0);
                }

                ul {
                    @include transform(translate3d(-240px, 0, 0));
                    box-shadow: $shadow;
                }

                .nav-toggle {
                    padding-top: $nav-toggle-padding-stuck;
                    padding-bottom: $nav-toggle-padding-stuck;

                    .nav-toggle-icons {
                        .nav-toggle-icon {

                            background: transparent;

                            &, &:before, &:after {
                                box-shadow: none;
                            }

                            &:before, &:after {
                                top: 0;
                            }
                            &:before {
                                @include transform(rotate(-45deg));
                            }
                            &:after {
                                @include transform(rotate(45deg));
                            }
                        }
                    }
                }
            }
        }
    }
}