@import "variables";

.pagination {

    background-color: $palette-primary;
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;

    .extra-pagination & {
        display: none;

        .archive-template & {
            display: block;
        }
    }

    a.older-posts,
    a.newer-posts {
        background-color: $palette-primary;
        position: relative;
        display: block;
        width: 50%;
        text-decoration: none;
        color: $palette-primary-alt;
        font-size: $font-size-navigation;
        text-transform: uppercase;
        font-family: $font-family-navigation;
        padding: 2rem 0;
        vertical-align: middle;

        @include transition(background-color $animate-duration-fast ease-in, color $animate-duration-fast ease-in);

        &:hover {
            background-color: $palette-primary-alt;
            color: $palette-primary;
        }
    }

    .older-posts {
        float: right;
    }

    .separator {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 1px;
        left: 50%;
        z-index: 1;
        background-color: $palette-primary-alt;
    }

    .newer-posts {
        float: left;
    }
}
