@import "variables";
@import "bourbon";

/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    margin: 4rem auto;
    background: $palette-light;
    padding: 2rem;

    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.5);

    .post-cover {

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        float: left;
        display: block;
        padding-right: 2rem;
        width: 50%;
        height: 300px;
        margin: 0;

        .img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }

    .post-header {
        text-align: center;
        .post-title {

            margin-bottom: 0;


            a {
                text-decoration: none;
            }
        }

        .post-date {
            font-family: $font-family-header;
            font-size: 1.5rem;
            line-height: 0.5rem;
            color: $palette-primary-alt;
            margin-bottom: 0.5rem;
        }
    }

    .post-excerpt p {
        margin: 0;
    }

    .post-tags {

        @include position(absolute, null 0 0 null);
        padding: 0 2rem 2rem 0;

        a {
            display: block;
            float: left;
            color: $palette-primary-alt;
            background: $palette-primary;
            font-family: $font-family-header;
            font-size: 1.5rem;
            line-height: 3rem;
            text-decoration: none;
            padding: 0 1rem;
            margin: 0 0 0 1rem;
        }
    }


}

.post-template {
    /* Stop elements, such as img wider than the post content, from
       creating horizontal scroll - slight hack due to imperfections
       with browser width % calculations and rounding */
    .content {
        overflow: hidden;
    }

    .post {

        padding: 3rem;

        /* Keep images centered, and allow images wider than the main
           text column to break out. */
        .post-content {
            img {

                display: block;
                max-width: 100%;
                min-width: 100%;
                height: auto;
                padding: 0.6em 0;
                /* Centers an image by (1) pushing its left edge to the
                   center of its container and (2) shifting the entire image
                   in the opposite direction by half its own width.
                   Works for images that are larger than their containers. */
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-50%); /* for Safari and iOS */
                -ms-transform: translateX(-50%); /* for IE9 */
                transform: translateX(-50%);
            }
            
            .sign-off {
                font-family: $font-family-handwriting;
                font-size: 6rem;
                line-height: 7rem;
                color: $palette-primary;

                em {
                    color: $palette-secondary;
                    font-style: normal;
                }
            }
        }

        .post-footer {
            position: relative;
            margin: 3rem -3rem -3rem -3rem;
            background: $palette-primary-alt;

            .share {
                position: relative;
                text-align: right;
                padding: 2rem 3rem;

                p {
                    font-size: $font-size-navigation;
                    font-family: $font-family-navigation;
                    text-transform: uppercase;
                    display: inline-block;
                    margin: 0 0 0 3rem;
                    color: $palette-primary;
                }

                a {
                    font-size: 2.5rem;
                    display: inline-block;
                    margin: 0 0 0 3rem;
                    color: $palette-primary;
                    text-decoration: none;
                    vertical-align: middle;

                    &:hover {
                        color: shade($palette-primary, 30%);
                    }
                }
            }
        }
    }

    .author {
        background: $palette-primary;
        color: $palette-primary-alt;

        .author-content {

            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            padding: 3rem;
            overflow: hidden;

            .author-image {
                width: 200px;
                height: 200px;
                border-radius: 100%;
                overflow: hidden;
                float: left;
                margin: 0 3rem 0 0;

                .img {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                    border-radius: 100%;
                }
            }
            
            h4 {
                a {
                    text-decoration: none;
                }
            }

            p, .author-meta {
                font-family: $font-family-header;
                font-size: 2.1rem;
                line-height: 3.2rem;
            }

            a {
                color: $palette-primary-alt;
            }
        }
    }

    .read-next {

        background-color: $palette-primary-alt;
        text-align: center;
        position: relative;
        width: 100%;
        overflow: hidden;


        a.read-next-story {
            background-color: $palette-primary-alt;
            border-top: solid 1px $palette-primary-alt;
            position: relative;
            display: block;
            width: 50%;
            text-decoration: none;
            color: $palette-primary;
            font-size: $font-size-navigation;
            text-transform: uppercase;
            font-family: $font-family-navigation;
            padding: 2rem;
            vertical-align: middle;
            @include ellipsis();

            @include transition(background-color $animate-duration-fast ease-in, color $animate-duration-fast ease-in);

            &:hover {
                background-color: $palette-primary;
                color: $palette-primary-alt;
            }

            &.next {
                float: left;
            }

            &.prev {
                float: right;
            }
        }

        .separator {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            width: 1px;
            left: 50%;
            z-index: 1;
            background-color: $palette-primary;
        }
    }
}