@import "variables";

/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    margin: 4rem auto;
    background: $palette-light;
    padding: 2rem;

    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.5);

    .post-cover {

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        float: left;
        display: block;
        padding-right: 2rem;
        width: 50%;
        height: 300px;
        margin: 0;

        .img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }

    .post-header {
        text-align: center;
        .post-title {

            margin-bottom: 0;


            a {
                text-decoration: none;
            }
        }

        .post-date {
            font-family: $font-family-header;
            font-size: 1.5rem;
            line-height: 0.5rem;
            color: $palette-primary-alt;
            margin-bottom: 0.5rem;
        }
    }

    .post-excerpt p {
        margin: 0;
        font-size: 0.9em;
        line-height: 1.7em;
    }

    .post-tags {

        margin: 2rem 0 0 0;

        a {
            display: block;
            float: left;
            color: $palette-primary-alt;
            background: $palette-primary;
            font-family: $font-family-header;
            font-size: 1.5rem;
            line-height: 3rem;
            text-decoration: none;
            padding: 0 1rem;
            margin: 0 1rem 0 0;
        }
    }
}


.post-template {
    /* Stop elements, such as img wider than the post content, from
       creating horizontal scroll - slight hack due to imperfections
       with browser width % calculations and rounding */
    .content {
        overflow: hidden;
    }

    .post-header {
        margin-bottom: 3.4rem;
    }

    .post-meta {
        margin: 0;
    }

    .post-date {
        padding: 0;
        margin: 0;
        border: none;
    }

    /* Tweak the .post wrapper style */
    .post {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    /* Keep images centered, and allow images wider than the main
       text column to break out. */
    .post-content img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        padding: 0.6em 0;
        /* Centers an image by (1) pushing its left edge to the
           center of its container and (2) shifting the entire image
           in the opposite direction by half its own width.
           Works for images that are larger than their containers. */
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%); /* for Safari and iOS */
        -ms-transform: translateX(-50%); /* for IE9 */
        transform: translateX(-50%);
    }

    .footnotes {
        font-style: italic;
        font-size: 1.3rem;

        li {
            margin: 0.6rem 0;
        }

        p {
            margin: 0;
        }
    }

    /* The author credit area after the post */
    .post-footer {
        position: relative;
        margin: 6rem 0 0 0;
        padding: 6rem 0 0 0;
        border-top: #EBF2F6 1px solid;
        h4 {
            font-size: 1.8rem;
            margin: 0;
        }

        p {
            margin: 1rem 0;
            font-size: 1.4rem;
            line-height: 1.75em;
        }
    }

    /* list of author links - location / url */
    .author-meta {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1.4rem;
        line-height: 1;
        font-style: italic;
        color: #9EABB3;
    }

    .author-meta a {
        color: #9EABB3;
    }
    .author-meta a:hover {
        color: #111;
    }

    /* Create some space to the right for the share links */
    .post-footer .author {
        margin-right: 180px;
    }

    .post-footer h4 a {
        color: #2e2e2e;
        text-decoration: none;
    }

    .post-footer h4 a:hover {
        text-decoration: underline;
    }

    /* Drop the share links in the space to the right.
       Doing it like this means it's easier for the author bio
       to be flexible at smaller screen sizes while the share
       links remain at a fixed width the whole time */
    .post-footer .share {
        position: absolute;
        top: 6rem;
        right: 0;
        width: 140px;
    }

    .post-footer .share a {
        font-size: 1.8rem;
        display: inline-block;
        margin: 1rem 1.6rem 1.6rem 0;
        color: #BBC7CC;
        text-decoration: none;
    }

    .post-footer .share a:hover {
        color: #50585D;
    }
}