@import "variables";
@import "neat";

$breakpoint: new-breakpoint(max-width map_get($breakpoints, tablet));

@include media($breakpoint) {

    hr {
        margin: 2.4em 0;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3.1rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    h5 {
        font-size: 2.2rem;
    }

    h6 {
        font-size: 1.8rem;
    }

    .posts {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .post-template .post-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}