$palette-primary: #5b1ab2;
$palette-primary-alt: #d5b6ff;
$palette-secondary: #2bb24d;
$palette-secondary-alt: #7dcc91;
$palette-neutral: #fff2e0;
$palette-text-color: #3A4145;
$palette-light: #fff;
$palette-dark: #000;

$main-nav-height: 100px;
$main-nav-height-stuck: 60px;
$main-nav-margin: 20px;
$main-nav-toggle-size: (
    width: 40px,
    height: 35px,
    thickness: 5px
);

$shadow-dims: 1px 1px 8px;
$shadow: $shadow-dims rgba($palette-dark, 0.5);

$cover-height: 50vh;
$cover-height-medium: 40vh;
$cover-height-small: 40vh;

$font-family-header: "geometrialight", sans-serif;

$font-family-navigation: "geometriamedium", sans-serif;
$font-size-navigation: 1.8rem;

$font-family-paragraph: "Lora", serif;
$font-family-handwriting: "jennasue";

$animate-duration-fast: 250ms;

$breakpoints: (
    small: new-breakpoint(max-width 500px),
    medium: new-breakpoint(max-width 900px),
    large: new-breakpoint(max-width 1200px)
);